* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.cont {
    width: 100%;
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 0;
    border: 1px solid rgba(182, 182, 182, 0.5);
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}

.book p, .book a {
    border: 1px solid rgba(182, 182, 182, 0.5);
    padding: 4px;
}
.book p:nth-child(1) {
    border-radius: 3px 0 0 3px;
}
.book a{
    border-radius: 0 3px 3px 0;
}