* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.cont {
    width: 100%;
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book {
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 12px;
    border: 1px solid #656565;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.13);
    cursor: pointer;
}
.id {
    font-weight: bold;
}