<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <link rel="stylesheet" href="/stylesheets/books.css">
</head>
<body>
<h1>Список книг</h1>
{{range .}}
<div class="cont">
    <div class="book" onclick="window.location.href='/book/{{.ID}}'">
<!--        <img src="{{.Image}}" alt="{{.Title}}" style="width:150px;height:auto;">-->

        <p><span class="id">{{.ID}}</span>{{.Title}}</p>
        <p class="author">{{.Author}}</p>
        <p>{{.Publisher}}</p>
        <p>Rank: {{.Rank}}</p>
        <a href="{{.AmazonURL}}">Buy on Amazon</a>
    </div>
</div>
{{end}}
</body>
</html>