* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.cont {
    display: flex;
    justify-content: center;
    margin: 32px;
}

.book {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 12px;
    column-gap: 12px;
}

.book_cont {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 12px;
    padding: 4px;
}

.img_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.book_title {
    font-weight: bold;
    margin: 8px 0;
}
.book_author, .book_publisher, .book_rank {
    margin: 4px;
}
