{{ define "title" }}Books{{ end }}

{{ define "content" }}
<h1>Books of New York Times</h1>
<div class="cont">
    <div class="book">
        {{range .Books}}
        <div class="book_cont" onclick="window.location.href='/book/{{.ID}}'">
            <div class="img_cont">
                <img src="{{.Image}}" alt="{{.Title}}" style="width:50%;height:70%;">
            </div>
            <p class="book_title">{{.Title}}</p>
            <p class="book_author">Author – {{.Author}}</p>
            <p class="book_publisher">Publisher – {{.Publisher}}</p>
            <p class="book_rank">Rank – {{.Rank}}</p>
        </div>
        {{end}}
    </div>
</div>
{{ end }}
