{{ define "layout" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}Books{{ end }}</title>
    <link rel="stylesheet" href="/static/books.css">
    {{ block "scripts" . }}{{ end }}
</head>
<body>
{{ if .User }}
<header>
    <div class="header_container">
        <div class="header_left_cont">
            <a href="/books">Books</a>
        </div>
        <div class="header_right_container">
            <a href="/profile">Profile</a>
        </div>
    </div>
</header>
{{ end }}
<div class="container">
    {{ if .Flash }}
    <div class="flash">{{ .Flash }}</div>
    {{ end }}
    {{ block "content" . }}{{ end }}
</div>
</body>
</html>
{{ end }}
